.hero {
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    @include respond(phone) {
        background-image: url(../images/bg-header-mobile.png);  
    }

    .container {
        margin-bottom: 5rem;

        @include respond(phone) {
            margin-bottom: 0;   
        }
    }
}

.logo {
    height: 12rem;
    margin-bottom: 5rem;

    @include respond(phone) {
        height: 9rem;  
        margin-bottom: 3rem;    
    }
}